{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block body %}

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">{{post.title}}</a></h2>
										<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{post.date}}</time>
										<a href="#" class="author"><span class="name">{{post.author}}</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>

								<p>{{post.content_1}}</p><img src="{{post.image}}"class="image featured" alt="">
								<p>{{post.content_2}}</p>
								<footer>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">100</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>

{% endblock %}

				<!-- Footer -->
